<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/chat_room.css" />
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>聊天室</h1>

        <!-- 房間選擇 -->
        <div class="room-selection">
            <label for="room">選擇房間：</label>
            <select id="room">
                <option value="room1">房間1</option>
                <option value="room2">房間2</option>
                <!-- 可以新增更多房間選項 -->
            </select>
        </div>

        <!-- 聊天窗口 -->
        <div class="chat-window">
            <div class="messages" id="messages">
                <!-- 聊天訊息將會顯示在這裡 -->
            </div>
            <input type="text" id="messageInput" placeholder="輸入訊息..." />
            <button id="sendButton">發送</button>
        </div>
        <script>
            const userName = '<%= userName %>'
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat_room.js"></script>
    </body>
</html>
