<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= pageTitle %></title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link
            href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
            rel="stylesheet"
            type="text/css"
        />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/forgot_password.css" rel="stylesheet" />
        <link rel="shortcut icon" href="../assets/img/me.ico" />
    </head>
    <body id="page-top">
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form action="/forgot_password" id="loginForm" method="post">
                    <h1>忘記密碼</h1>
                    <div id="subtitle">輸入註冊時的email，我們會發密碼到您的信箱</div>
                    <hr />
                    <input type="email" id="loginEmail" name="email" placeholder="請輸入註冊時的電子郵件" />
                    <br />
                    <button type="submit" id="loginButton">確認</button>
                </form>
                <% if (typeof successMessage !== 'undefined') { %>
                <p class="success-message"><%= successMessage %></p>
                <% } %>
            </div>
        </div>

        <script src="../js/login.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
