<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= pageTitle %></title>
        <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" /> -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link
            href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
            rel="stylesheet"
            type="text/css"
        />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="shortcut icon" href="../assets/img/me.ico" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-none d-lg-block"
                    ><img
                        class="img-fluid img-profile rounded-circle mx-auto mb-2"
                        src="../assets/img/banny.jpg"
                        alt="王瀚邑"
                /></span>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">關於我</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">工作經歷</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">教育程度</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/main">More(需登入)</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- 關於我-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0" style="margin-top: 30px">
                        Han Yi
                        <span class="text-primary">Wang</span>
                    </h1>
                    <div class="subheading mb-5">
                        <%= username %> <br />
                        <a href="mailto:rich.bannywang@email.com">rich.bannywang@email.com</a>
                    </div>
                    <p class="lead mb-5">
                        Hello！我是一位來自高雄熱愛 Coding
                        的年輕人。雖然我並非出身在程式背景，曾經在設計和行銷領域工作，但我的父親一直教導我工程師的世界擁有無限的可能性。這個世界有很多種與電腦溝通的語言，可以實現很多意想不到的事，加上我又是個很多想法的人，對於用程式語言創造出別人喜歡使用的介面與程式，讓我非常的快樂。
                        <br />
                        <br />
                        有一次的機會當我接觸到 HTML 和 CSS ，並使用 Bootstrap
                        框架設計了我的第一個網站。這個體驗深深吸引了我，自那以後，我就愛上了 Coding
                        的感覺。現在，我正全心投入於學習後端 Coding
                        的邏輯和資料庫技術，希望能夠更深入地探索這個令人激動的領域。未來，我期待能夠貢獻我的技能，並參與創造更多令人驚嘆的數位解決方案。
                    </p>
                    <div class="social-icons">
                        <a class="social-icon" href="mailto:rich.bannywang@email.com"><i class="fab fa-google"></i></a>
                        <a class="social-icon" href="https://github.com/bannywang"><i class="fa-brands fa-github"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/ezra.wang360"
                            ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a class="social-icon" href="https://www.instagram.com/why_0229/"
                            ><i class="fab fa-instagram"></i
                        ></a>
                        <a class="social-icon" href="https://line.me/ti/p/mghW8-27Pk"><i class="fab fa-line"></i></a>
                        <a class="social-icon" href="tel:+886973506316"><i class="fa-solid fa-phone"></i></a>
                    </div>
                </div>
            </section>

            <hr class="m-0" />

            <!-- 工作經歷-->

            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="margin-top: 50px">工作經歷</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">電商創業</h3>
                            <div class="subheading mb-3">E-commerce entrepreneurship</div>
                            <p>
                                後疫情時期，受新冠影響的人群越來越多採用網路購物的模式，這段期間有剛好搭上順風車，定位潛在客群，提供他們可能會喜愛的商品並進行有針對性的宣傳，採用了一般和團體購物的模式，讓消費者能夠輕鬆地獲得他們所喜愛的物品。
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">April 2022 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">美工／電商專員</h3>
                            <div class="subheading mb-3">Art／E-commerce specialist</div>
                            <p>
                                退伍後，因緣際會下我進入了台東娜路彎大酒店的美工部門工作，在這段時間裡，我積累了豐富的經驗，包括平面設計、影片製作、社群經營、活動規劃以及業務拜訪等領域。除此之外，我曾經涉及coding領域，這使我有機會參與公司網站的開發工作，進一步擴展了我的技能和經驗。
                            </p>
                        </div>

                        <div class="flex-shrink-0"><span class="text-primary">January 2020 - March 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">兵役期間</h3>
                            <div class="subheading mb-3">soldier</div>
                            <p>服役期間，有幸擔任幹部的職務，這個經驗讓我學會了如何有效地管理人員。</p>
                        </div>
                        <div class="flex-shrink-0">
                            <span class="text-primary">September 2019 - December 2019</span>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">兼職人員</h3>
                            <div class="subheading mb-3">part-time worker</div>
                            <p>學生時期，自給自足打工，支付學費與其他開銷。</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2015 - August 2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />

            <!-- 教育程度-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="margin-top: 20px">教育程度</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">國立臺東大學</h3>
                            <div class="subheading mb-3">National Taitung University</div>
                            <p>科系：資訊管理</p>
                            <p>肄</p>
                        </div>
                        <!-- <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div> -->
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">高雄市立高雄高級商業職業學校</h3>
                            <div class="subheading mb-3">Kaohsiung Municipal Kaohsiung Commercial High School</div>
                            <p>科系：商業經營</p>
                            <p>畢</p>
                        </div>
                        <!-- <div class="flex-shrink-0"><span class="text-primary">August 2002 - May 2006</span></div> -->
                    </div>
                </div>
            </section>

            <hr class="m-0" />

            <!-- back to top button -->
            <button id="backToTopButton" class="btn btn-primary rounded-circle">
                <i class="fa-solid fa-arrow-up" style="color: #ffffff"></i>
            </button>
        </div>

        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
