<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= pageTitle %></title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link
            href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
            rel="stylesheet"
            type="text/css"
        />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/login.css" rel="stylesheet" />
        <link rel="shortcut icon" href="../assets/img/me.ico" />
    </head>
    <body id="page-top">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/user_register" method="POST">
                    <h1>建立帳戶</h1>
                    <hr />
                    <input type="text" placeholder="姓名" name="new_name" />
                    <input type="email" placeholder="電子郵件" name="new_email" />
                    <input type="password" placeholder="密碼" name="new_password" />
                    <p>註冊成功將轉跳到登入頁</p>
                    <button type="submit">註冊</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/user_login" id="loginForm" method="post">
                    <h1>登入</h1>
                    <hr />
                    <input type="email" id="loginEmail" name="email" placeholder="電子郵件" />
                    <input type="password" id="loginPassword" name="password" placeholder="密碼" />

                    <a href="/forgot_password">忘記密碼？</a>
                    <button type="submit" id="loginButton">登入</button>
                    <a href="/">回到首頁</a>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>歡迎回來！</h1>
                        <p>請使用您的個人資訊登入以保持聯繫</p>
                        <button class="ghost" id="signIn">登入</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>你好，朋友！</h1>
                        <p>輸入您的個人詳細信息，開始與我們一起的旅程</p>
                        <button class="ghost" id="signUp">註冊</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/login.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
